.wrapper {
  text-align: center;
}

.title {
  line-height: 72px;
  font-size: 74px;
  font-weight: 900;
color: #330672;
  font-family: "Gotham";
  margin-top: 55px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 26px;
    margin-top: 20px;
  }
}