.wrapper {
  text-align: center;
}

.title {
    color: #330672;
    margin-top: 55px;
    font-family: Gotham;
    font-size: 57px;
    font-weight: 900;
    line-height: 51px;
    margin-bottom: 17px;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 14px;
    margin-top: 42px;
    line-height: 37px;
  }
}
