.dicasSection {
  position: relative;
  width: 100%;
  height: 670px;
  overflow: hidden;
  background-color: rgb(51, 6, 114);
  padding-left: 63px;
  background-image: url('/genericas/footer-bg-wave-doriana.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  background: rgb(250 235 200 / 65%);
  padding: 20rem 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 27px;
}

.tag {
  display: inline-block;
  color: #0f4196;
  font-family: Gotham;
  font-size: .85rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.title {
  font-family: Gotham;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #0f4196;
}

.subtitle {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff !important;
  margin: 0 auto ;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
}

.carouselWrapper {
  width: 90%;
  margin: 0 auto;
}

.dicasSwiper {
  position: static;
  margin-top: 1rem;
}

.dicasSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
    margin-top: 10px;
  }

  .subtitle {
    width: 90%;
    font-size: 16px;
    padding-bottom: 6px;
    margin-top: 0;
  }

  .dicasSection {
    padding-left: 0px;
    padding-top: 10px;
    height: 648px;
  }
  .dicasSwiper {
    position: static;
    margin-top: 10px;
  }
}

@media (max-width: 890px) {
  .dicasSection {
    height: auto;
    padding-bottom: 60px;
  }
}