@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
  padding: 0;
}

.slick-dots li {
  margin: 0;
  width: auto;
  height: auto;
}

.slick-dots li button:before {
  font-size: 0 !important;
  width: 10px !important;
  height: 10px !important;

  border-radius: 50%;
  content: "";

  background: #d9d9d9 !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  background: #facd0a !important;
  opacity: 1 !important;
}

.slick-dots li button {
  pointer-events: none !important;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/Gotham Fonts Family/gotham-rounded-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/Gotham Fonts Family/gotham-rounded-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham Fonts Family/Gotham-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham Fonts Family/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham Fonts Family/GOTHAM-BOLD.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham";
  font-weight: 900;
}

p {
  color: black;
}
.glow {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, var(--accent) 0%, transparent 70%);
  opacity: 0.08;
  filter: blur(100px);
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.content-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.all-content {
  width: 100%;
  overflow: hidden;
}

.all-contente {
  text-align: center;
}