.wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: "Gotham";
}

.newsletterBox {
  background: #053282;
  border-radius: 40px;
  padding: 0;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: "Gotham";
}

.inner {
  padding: 3rem 3.5rem;
  font-family: "Gotham";
  background: #330672;;
}

.title {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  font-family: "Gotham";
}

.highlight {
  color: #facd0a;
  font-weight: 700;
  font-family: "Gotham";
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Gotham";
}

.twoColumns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Gotham";
}

@media (min-width: 768px) {
  .twoColumns {
    flex-direction: row;
  }

  .formGroup {
    flex: 1;
  }
}


@media (max-width: 768px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-family: "Gotham";
}

.label {
  color: #ffffff;
  margin-bottom: 6px;
  font-size: 16px;
  font-family: "Gotham";
}

.input {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background: white;
  font-family: "Gotham";
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Gotham";

}

.checkbox {
  width: 22px;
  height: 22px;
  font-family: "Gotham";

  flex-shrink: 0;
}

.checkboxLabel {
  color: #ffffff;
   font-size: 16px;
  font-family: "Gotham";

}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-family: "Gotham";

}

.submitBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: 2px solid #facd0a;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  color: #facd0a;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-family: "Gotham";

}

.submitBtn:hover {
  background: #facd0a;
  color: #330672;
}


.disabled {
  opacity: 0.6;
  pointer-events: none;
  font-family: "Gotham";

}

.sendingBox {
  margin-top: 10px;
  font-family: "Gotham";

}

.sendingAlert {
  background: #facd0a;
  padding: 8px 14px;
  border-radius: 6px;
  color: #330672;
  font-weight: bold;
  text-align: center;
  font-family: "Gotham";

}

.errorBox {
  background: #f44336;
  color: #ffffff;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  font-family: "Gotham";

}

.successOverlay {
  position: absolute;
  inset: 0;
  background: #0f4196;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gotham";

}

.successContent {
  text-align: center;
  font-family: "Gotham";

}

.successMsg {
  font-size: 22px;
  margin-bottom: 1rem;
  display: block;
  font-family: "Gotham";

}

.successBtn {
  background: transparent;
  border: 2px solid #facd0a;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  color: #facd0a;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-family: "Gotham";

}

.successBtn:hover {
  background: #facd0a;
  color: #0f4196;
}